body {
  background-color: #1a1a1a;
  color: #fff;
  font-family: 'Roboto', sans-serif;
}

.alessandro {
  margin-top: 100%;
  text-align: center;
}

div {

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

h1 {
  font-size: 5em;
}

h2 {
  font-size: 2em;
}