/* You can add global styles to this file, and also import other style files */
@import url(http://fonts.googleapis.com/css?family=Roboto);
@import 'primeicons/primeicons.css';
@import "./scss/colors";

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Roboto;
}

body {
  background-color: $dark;
  color: $light;
}

.logo {
  font-family: Dancing Script, cursive;
  font-weight: 700;
}
