@import "../../../scss/colors";

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;

  a {
    text-decoration: none;
    color: $white;
    padding: 1em;
    transition: transform 0.2s;

    &:hover {
      cursor: pointer;
      color: $highlight;
    }
  }

  &-logo {
    a {
      font-size: 1.5rem;
    }
  }
}
