nav {
  background: transparent;
  position: fixed;
  z-index: 200;
  margin-top: 1em;
  width: 100%;
}

.socials-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  div {
    padding-right: 1em;
    a {
      text-decoration: none;
      color: white;
      font-size: 1.2em;
      padding: 0.5em;
      transition: 0.5s;

      &:hover {
        color: #f06292;
        cursor: pointer;
      }
    }
  }
}

.socials {
  display: flex;
  justify-content: flex-start;
  width: 10%;
  padding-left: 1em;

  div {
    a {
      text-decoration: none;
      color: white;
      font-size: 1.2em;
      padding: 0.5em;
      transition: 0.5s;

      &:hover {
        color: #f06292;
        cursor: pointer;
      }
    }
  }
}

button {
  background: #23262d;
  color: #fff;
  border: none;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  border-radius: 5px;
  transition: all 0.3s;
}
