<nav>
  <div class="socials-wrapper">
    <div class="socials">
      <div>
        <a href="https://www.youtube.com/@_TpoX" target="_blank"
          ><i class="fa-brands fa-youtube"></i
        ></a>
      </div>
      <div>
        <a href="https://x.com/iTzSteffen" target="_blank"
          ><i class="fa-brands fa-x-twitter"></i
        ></a>
      </div>
      <div>
        <a href="https://www.instagram.com/steffen_1205/" target="_blank"
          ><i class="fa-brands fa-instagram"></i
        ></a>
      </div>
    </div>
    <div class="login">
      <button>
        <a href="/login"><i class="fa fa-right-to-bracket"></i></a>
      </button>
    </div>
  </div>
</nav>
