@import "../../scss/colors";

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding: 1em 2em;
  background-color: $dark-blue;

  a {
    text-decoration: none;
    color: $white;
    padding: 1em;

    &:hover {
      cursor: pointer;
      color: $light-blue;
    }
  }

  &-logo {
    a {
      font-size: 1.5rem;
    }
  }
}
